.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 500px;
    width: 500px;
}

.row {
    box-sizing: border-box;
    display: flex;
    height: 25px;
}


.square {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
}